<!DOCTYPE html>
<html>
	<head>
	  <title>Blawg.js</title>
	  <link rel="stylesheet" href="stylesheets/blawg.css">
	</head>
	<body>

		<div ng-app="blawgApp">
			<div ng-controller="BlawgPostCtrl">
				<!-- <a href="" ng-click="showPage(0)">Show all posts</a> -->

				<ul>
					<li ng-repeat="post in blawgPosts | orderBy:'-timestamp' | startFrom:currentPage*pageSize | limitTo:pageSize">
						<post data="post"><post>
					</li>
				</ul>

				<!-- todo: Using an include to pull in the partial breaks the loading of the results for the new page. A quick google reveals this is due to a new child scope being created by the ng-include. It was way over my head for the moment so I abandoned the pursuit for now. 
				
				<div ng-include src="'partials/pager.html'"></div> 

				-->
				<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
				    Previous
				</button>
				{{currentPage+1}}/{{numberOfPages()}}
				<button ng-disabled="currentPage >= blawgPosts.length/pageSize - 1" ng-click="currentPage=currentPage+1">
				    Next
				</button>
			</div>
		</div>


	  <script src="http://code.jquery.com/jquery-latest.js"></script>
	  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
	  <script src="scripts/blawg.js"></script>
	</body>
</html>
